<div class="col-md-4">
    <div class="beer">
        <img class="several-beers-img" src="{{image_url}}" alt="{{name}}" />
        <div class="beer-body">
            <h2 class="beer-title">{{name}}</h2>
            <p>{{tagline}}</p>
            <hr>
            <p>{{description}}</p>
        </div>
    </div>
</div>